<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is a video recommendation system based on metadata analysis (viral videos) in Stream processing course. 
</p> 
<p>Contributors are as follows,</p>
<p>Fan Su: Master student majoring in Computer Engineering, Columbia University</p>
<p>Adeyemi Aladesawe: Master student majoring in Electrical Engineering, Columbia University
</p>
